Project 1  Rubric.   Boot Camp: Data Visualization and Data Analytics 
Question 4 Analysis
Source Data file: 'clean_states.csv', a subset of ‘USA Real Estate Datatest’ from Kaggle.com https://www.kaggle.com/datasets/ahmedshahriarsakib/usa-real-estate-dataset

Represent the house prices by cities on a plot. Plot in a different color for each city, plot on a map with Latitude and Longtitude of each city either for just NY State. Could also map plot by cities of each State and have the color be different for each State. Scatter Plot each city with different tick / color for each city. 

4 selected states: Connecticut, Massachusetts, New Jersey, New York. 

Average Price and Standard Deviation (std) for each State reveals NY with the highest variance in STD, and Mean being houses with 3 Bedrooms and 2 Bathrooms.  

Assumptions: 1. clean data file may contain duplicates if not removed perhaps on criteria of Sold Date and Address. 
2. The df created an Unmaed:0 at the 0 index, these are the row numbers assigned to each record in the dataset. Do not want to use that for House ID.

In [94]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint
import os
import hvplot.pandas

In [95]:
%matplotlib widget

In [96]:
#read csv file
states_df=pd.read_csv("clean_states.csv")
states_df

,Unnamed: 0,price,bed,bath,acre_lot,house_size,state,city
0,27821,579900.0,4.0,3.0,2.34,3320.0,Connecticut,Coventry
1,27826,215000.0,2.0,1.0,0.91,960.0,Connecticut,East Windsor
2,27828,144900.0,2.0,1.0,0.36,860.0,Connecticut,Vernon
3,27829,174900.0,3.0,2.0,0.19,1280.0,Connecticut,Manchester
4,27830,289900.0,4.0,2.0,0.38,1617.0,Connecticut,East Windsor
...,...,...,...,...,...,...,...,...
185883,733133,475000.0,4.0,3.0,0.23,2252.0,New Jersey,South Brunswick
185884,733136,350000.0,2.0,2.0,0.01,1551.0,New Jersey,Piscataway
185885,733146,241000.0,2.0,2.0,0.50,1077.0,New Jersey,North Brunswick
185886,733147,629000.0,5.0,2.0,0.06,2084.0,New Jersey,New Brunswick
185887,733157,499900.0,3.0,3.0,0.28,2016.0,New Jersey,Franklin Twp

In [97]:
#find the Average/ Mean of house prices, and the Standard Deviation. 
states_df.groupby("state").agg(["mean","std"]).round()

C:\Users\Owner\AppData\Local\Temp\ipykernel_4268\3925755002.py:2: FutureWarning: ['city'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  states_df.groupby("state").agg(["mean","std"]).round()

              Unnamed: 0               price            bed      bath       \
                    mean       std      mean       std mean  std mean  std
state
Connecticut     366855.0  130123.0  326020.0  146810.0  3.0  1.0  2.0  1.0
Massachusetts   142859.0   71148.0  645017.0  366150.0  3.0  1.0  2.0  1.0
New Jersey      646053.0   63552.0  395038.0  202851.0  3.0  1.0  2.0  1.0
New York        514894.0  104704.0  764468.0  442436.0  3.0  1.0  2.0  1.0

              acre_lot      house_size
                  mean  std       mean    std
state
Connecticut        1.0  1.0     1716.0  655.0
Massachusetts      0.0  0.0     1860.0  839.0
New Jersey         0.0  0.0     1760.0  668.0
New York           0.0  0.0     1798.0  761.0

Std for State of New York has the highest number compared to Connecticut, Massachusetts, and New Jersey
The standard deviation measures how far apart the numbers are from the mean of the data set.
Interestingly, the average number of bedrooms is 3 with 2 bathrooms

In [98]:
states_df.columns

Index(['Unnamed: 0', 'price', 'bed', 'bath', 'acre_lot', 'house_size', 'state',
       'city'],
      dtype='object')

In [99]:
#New York Data in a df ny_cities_df
ny_cities_df = states_df[states_df['state'] == 'New York']
ny_cities_df

,Unnamed: 0,price,bed,bath,acre_lot,house_size,state,city
49777,54258,225000.0,4.0,2.0,0.24,1239.0,New York,Copake
49778,54530,40000.0,2.0,1.0,0.20,690.0,New York,Nassau
49779,54531,125000.0,3.0,2.0,1.00,980.0,New York,Hoosick Falls
49780,54539,299900.0,3.0,1.0,0.32,1608.0,New York,Niverville
49781,54542,379500.0,4.0,3.0,0.28,2080.0,New York,Philmont
...,...,...,...,...,...,...,...,...
63457,732127,1750000.0,2.0,1.0,0.41,1001.0,New York,New York City
63458,732237,1650000.0,1.0,1.0,0.24,718.0,New York,New York City
63459,732292,1591380.0,1.0,2.0,0.05,883.0,New York,New York City
63460,732295,2250000.0,2.0,3.0,0.05,1252.0,New York,New York City
63461,732348,689000.0,1.0,1.0,0.05,715.0,New York,New York City

In [100]:
# #drop the column of the number which is the indexing row number from original raw data file /del the ['Unnamed:0'] from ny_cities_df
ny_cities_df = ny_cities_df[['price', 'bed', 'bath', 'acre_lot', 'house_size', 'state', 'city']]
ny_cities_df = ny_cities_df.dropna()
ny_cities_df

           price  bed  bath  acre_lot  house_size     state           city
49777   225000.0  4.0   2.0      0.24      1239.0  New York         Copake
49778    40000.0  2.0   1.0      0.20       690.0  New York         Nassau
49779   125000.0  3.0   2.0      1.00       980.0  New York  Hoosick Falls
49780   299900.0  3.0   1.0      0.32      1608.0  New York     Niverville
49781   379500.0  4.0   3.0      0.28      2080.0  New York       Philmont
...          ...  ...   ...       ...         ...       ...            ...
63457  1750000.0  2.0   1.0      0.41      1001.0  New York  New York City
63458  1650000.0  1.0   1.0      0.24       718.0  New York  New York City
63459  1591380.0  1.0   2.0      0.05       883.0  New York  New York City
63460  2250000.0  2.0   3.0      0.05      1252.0  New York  New York City
63461   689000.0  1.0   1.0      0.05       715.0  New York  New York City

[13685 rows x 7 columns]

In [101]:
#read source data file for coordinates of latitude and Longitude of US Cities. 
citieslatlong_df = pd.read_csv("uscities.csv")
citieslatlong_df

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28333,Gross,Gross,NE,Nebraska,31015,Boyd,42.9461,-98.5697,2,6,polygon,False,True,America/Chicago,3,68719,1840011032
28334,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,39,polygon,False,True,America/Chicago,3,74063,1840021674
28335,The Ranch,The Ranch,MN,Minnesota,27087,Mahnomen,47.3198,-95.6952,2,2,polygon,False,True,America/Chicago,3,56557,1840039629
28336,Shamrock,Shamrock,OK,Oklahoma,40037,Creek,35.9113,-96.5772,2,2,polygon,False,True,America/Chicago,3,74068,1840022701
28337,Monowi,Monowi,NE,Nebraska,31015,Boyd,42.8307,-98.3296,1,1,polygon,False,True,America/Chicago,3,68746,1840011034

In [102]:
merge_df = pd.DataFrame
merge_df=pd.merge(ny_cities_df, citieslatlong_df, on="city", how="left")
merge_df
merge_df.columns

Index(['price', 'bed', 'bath', 'acre_lot', 'house_size', 'state', 'city',
       'city_ascii', 'state_id', 'state_name', 'county_fips', 'county_name',
       'lat', 'lng', 'population', 'density', 'source', 'military',
       'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [103]:
merge_df=merge_df[["price","city","lat","lng"]]

In [104]:
merge_df.columns

Index(['price', 'city', 'lat', 'lng'], dtype='object')

In [106]:
#Once the dataframe is create with lat and lon we can try this code:
price_city_plot = merge_df.hvplot.points(
                    'Lon',
                    'Lat',
                    size='price',
                    scale = 1,
                    geo = True,
                    tiles ='OSM',
                    frame_width = 600,
                    frame_height = 400,
                    color = 'city'
                    )
# Display the map
price_city_plot

DataError: Supplied data does not contain specified dimensions, the following dimensions were not found: ['Lon', 'Lat']

PandasInterface expects tabular data, for more information on supported datatypes see http://holoviews.org/user_guide/Tabular_Datasets.html

In [ ]:
#get the count of how many cities are in the ny_cities_df
# ny_cities= ny_cities_df.groupby('city')
# ny_cities.count()

In [ ]:
#find the mean in ny_cities df
# ny_cities = ny_cities.mean().round()
# ny_cities